@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Zen+Kaku+Gothic+New&display=swap");

main {
  max-width: 540px;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  font-family: "Montserrat", "Zen Kaku Gothic New", sans-serif;
}
